			body{
			/*	background:url("img/template.jpg");
			*/	background-repeat:none;
				height:1600px;
				background-position-x: -10px;	
			}
			#header{
				position:relative;
				height: 97px;
			}

			#header h1{
				position:absolute;
				top: 10px;
				left: 194px;
				font-size: 22px;
				color:#26a9e6;
			}

			#header .social-icons{	
				top: 8px;
				right: 1px;
			}

			#header .search {
				position:absolute;
				right:1px;
				width:177px;
				border:2px #cde1eb solid;
				border-radius:4px;
				top:42px;
				margin:0;
			}
			#header .search .search-query{
				padding-left:12px;
				width:123px;
				height:14px;
				margin-right:-4px;
			}

			#header .search button{
				width:26px;
				height:24px;
				border:0;
				margin:0;
				padding:0;
				font-size:0px;
				background:url('../img/search.png');
				background-color:#00ccff;
				background-repeat:no-repeat;
				background-position:4px 4px;
			}
			#header .search input{
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}

			#content{
			}
			#content .tagline{

				font-size:24px;
				line-height:29px;

			}
			.navigation{
				position:absolute;
				top: 53px;
				left: 168px;
				width:617px;
			}
			.navigation li{
				display:inline;
				padding-right: 16px;
				font-size: 16px;
			}

			.navigation li:after {
				content:"•";
				color:#26a9e6;
				margin-left:16px;
			}
			.navigation li:last-child:after {
				content:"";
			}


			.social-icons{
				position:absolute;
			}

			.social-icons li{
				width:22px;
				height:22px;
				background:#00ccff;
				display:inline-block;
			}
			.social-icons li a{
				font-size:0px;
				display:block;
				height:100%;
			}

			.tw-icon{
				background:url('../img/icons.png');
				background-position:0 0;
			}
			.fb-icon{
				background:url('../img/icons.png');
				background-position:-26px 0;
			}
			.li-icon{
				background:url('../img/icons.png');
				background-position:-52px 0;
			}
			.vm-icon{
				background:url('../img/icons.png');
				background-position:-78px 0;
			}
			.rss-icon{
				background:url('../img/icons.png');
				background-position:-104px 0;
			}
			.gp-icon{
				background:url('../img/icons.png');
				background-position:-131px 0;
			}


			.home.carousel{
				height:362px;
				width:100%;
				background:#000;
				margin-bottom: 23px;
			}

			#footer{
				padding-top: 26px;
			}

			#footer .first-col{
				margin-left:0;
				float:left;
				width:320px;
			}
			#footer .center-col{
				float:left;
				width:262px;
				border-left:1px #dedede solid;
				border-right:1px #dedede solid;
				padding-left:36px;
				padding-right:20px;
			}
			#footer .center-col li{
			
				padding-bottom: 5px;

			}

			#footer h2{
			font-size:16px;
			color:#5b5b5b;
			}
			#footer .center-col h2, #footer .last-col h2{
				margin-left:24px;
			}
			#footer .center-col li{
				list-style-type:none;
			}
			#footer .last-col{
				float:left;
				width:281px;
				padding-left:39px;
			}
			#footer h2{
				margin-bottom:6px;
			}
			.footer-share li{
				display:inline;
				margin-right:15px;
			}

			#footer .first-col li{
				list-style-type:none;
				margin-bottom:5px;
				display:inline-block;
				width:158px;
			}
			#footer .first-col li a{
				padding-left:3px;
				color:#5b5b5b;
			}


			#footer .first-col li:before {

				content: ">";
			}
			#footer .first-col ul{
				margin-left:0;
			}

			#head-wrap{
				width:100%;
				height:124px;
				background:url("../img/head_gradient.png");
				background-repeat:repeat-x;
				background-position:bottom;
				margin-top:28px;
			}
			#footer-wrap{
				width:100%;
				background:url("../img/head_gradient.png");
				background-repeat:repeat-x;
				background-position:top;
				}
			.copyright{
			float:left;
			margin-left:0;
			width:960px;
			margin-top:12px;
			color:#aeaeae;
			font-size:12px;
			}
.blog-title a{
color:#333;
font-family:Arial,sans-serif;
font-size:28px;
}
.blog-title{
margin-bottom:5px;
}
.article-author{
font-style:italic;
font-weight:normal;
font-size:13px;
font-family:Arial,sans-serif;
}

#team-content, #contact-content {
font-family:Arial,sans-serif;
font-size:16px;
font-weight:bold;
}
#team-content div.team-description p{
font-size:16px;
line-height:22px;
margin-bottom:45px;
}
.team-heading{
margin-bottom:20px;
}
.member-photo{
height:148px;
width:236px;
margin-bottom:12px;
}

.blog-description{
font-size:13pt;
}
.blog-meta{
background:#f2f2f2;
width:100%;
}

.blog-meta p{
padding:18px 18px 4px 18px;;
}

.italics{
font-style:italic;
}

.grey-bg{
background:#333;
}

.mp-sidebar{
width:180px;
float: left;
margin-left: 30px;
}

.wide-col{
width:360px;
float:left;
}

.first.wide-col{
margin-right:30px;
}
.contact-details{
list-style-type:none;
margin:5px 10px 36px 0;;
}
.send-message{
background:#f2f2f2;
padding-left:30px;
}
.send-message input, .send-message textarea{
margin-bottom:0px;
width: 86%;
}
h2{
margin-bottom:25px;
}
input.submit-button{
background:#28aeed;
height:40px;
color:#fff;
width:100px;
font-size:22px;
font-weight:bold;
margin-bottom:20px;
margin-top:9px;
}

.member-description{
float:left;
margin-left:30px;
width:500px;
}

.member-title{
margin-bottom:8px;
font-weight:normal;
font-size:16px;
}

.member-description p{
font-style:normal;
font-size:13px;
font-weight: normal;
}

#product-content .section-heading{
height:40px;
width:100%;
color:white;
background:#28aeed;
line-height:40px;
padding-left:10px;
box-sizing: border-box;
margin-bottom:30px;
font-size:21px;
}

.ps-col{
float:left;
margin-left:30px;
width:230px;
margin-bottom:30px;
}

.ps-col h4{
color:#333;
font-size:17px;
margin-bottom:12px;
}

.ps-col p.desc{

margin-bottom:15px;
color:#8f8f8f;
}
.ps-col a.read{
}

.row .row{
margin-left:-30px;
}
