{% extends "base-sidebar.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if blog_page %}{{ blog_page.title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if blog_page %}
{% editable blog_page.title %}{{ blog_page.title }}{% endeditable %}
{% else %}
{% trans "Blog" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or category or year or month or author %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% else %}{% if category %}
        {% trans "Viewing posts for the category" %} {{ category }}
    {% else %}{% if year or month %}
        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    </p>
{% endif %}

{% for blog_post in blog_posts.object_list %}
<h3 class ="blog-title">
    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
</h3>
<h6 class="article-author">
    {{ blog_post.publish_date }}
    {% trans "by" %}:
    {% with blog_post.user as author %}
    <a href="{% url blog_post_list_author author %}">{{ author.username|lower }}</a>
    {% endwith %}
</h6>

{% if blog_post.featured_image %}
<img class="featured-thumb" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}">
{% endif %}

{% editable blog_post.content %}
<div class="blog-description">
{{ blog_post.description_from_content|safe }}
{% endeditable %}
</div>
<p>
    <a class="italics" href="{{ blog_post.get_absolute_url }}">{% trans "Read more >" %}</a>
</p>
<div class="blog-meta">
<p>

    {% if blog_post.category_list %}
    {% trans "CATEGORY" %}:
    {% for category in blog_post.category_list %}
    <a href="{% url blog_post_list_category category.slug %}">{{ category }},</a>
    {% endfor %}
    {% endif %}
</p>
<p>  
  {% if blog_post.keyword_list %}
    {% trans "TAGS" %}:
    {% for tag in blog_post.keyword_list %}
    <a href="{% url blog_post_list_tag tag.slug %}">{{ tag }},</a>
    {% endfor %}
    <br>
    {% endif %}
</p>
</div>
{% endfor %}
{% pagination_for blog_posts %}

{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}
